<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatiable" content="ie=edge">
    <title>Еженедельная рассылка!</title>
</head>
<body>
    <h1> Здравствуйте {{ user.username }}! Вот подборка новостей вашей любимой категории за неделю</h1>
    {% for post in categoryPost.subscribers %}
        <p><a href="http://127.0.0.1:8000/news/{{post.id}}"class="btn btn-outline-success">{{post.title}}</a></p>
    {% endfor %}
</body>
</html>